html,body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	/* background: #282828 url(images/bg01.png) repeat; */
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #294E79;
	/* color: #919191;*/
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
}

p,ol,ul {
	margin-top: 0;
}

ol,ul {
	padding: 0;
	list-style: none;
}

p {
	line-height: 180%;
}

strong {
	
}

a {
	color: #747474;
}

a:hover {
	text-decoration: none;
}

.container {
	margin: 0px auto;
	width: 1200px;
}
/*********************************************************************************/
/* Secure Banking                                                                */
/*********************************************************************************/
.securebanking {
	margin: 0px auto;
	width: 1200px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/
.title {
	margin-bottom: 2em;
}

.title h2 {
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2em;
	color: #FFF;
}

.title .byline {
	color: #6F6F6F;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/
.image {
	display: inline-block;
}

.image img {
	display: block;
	width: 100%;
}

.image-full {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left {
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered {
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img {
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/
ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #363636;
}

ul.style1 a {
	text-decoration: none;
	color: #919191;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 25px 0px 15px 0px;
	border-top: 1px solid #363636;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 10px 0px;
	letter-spacing: 0.10em;
}

ul.style2 h3 a {
	color: #FFF;
}

ul.style2 a {
	text-decoration: none;
	color: #919191;
}

ul.style2 a:hover {
	text-decoration: underline;
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/
ul.contact {
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li {
	display: inline-block;
	padding: 0em 0.30em;
	font-size: 1em;
}

ul.contact li span {
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a {
	color: #FFF;
}

ul.contact li a:before {
	display: inline-block;
	background: #3f3f3f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #FFFFFF;
}

ul.contact li a.icon-twitter:before {
	background: #2DAAE4;
}

ul.contact li a.icon-facebook:before {
	background: #39599F;
}

ul.contact li a.icon-dribbble:before {
	background: #C4376B;
}

ul.contact li a.icon-tumblr:before {
	background: #31516A;
}

ul.contact li a.icon-rss:before {
	background: #F2600B;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
.button {
	display: inline-block;
	margin-top: 2em;
	background: #BC1414;
	border-radius: 5px;
	line-height: 4em;
	padding: 0 3em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	letter-spacing: 0.25em;
	text-decoration: none;
	text-transform: uppercase;
	outline: 0;
	white-space: nowrap;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 0.80em !important;
	float: center;
	color: #fff !important;
}

.button:hover {
	background: #BB1717;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.button:active {
	background: #B41313;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
	
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo {
	padding: 1em 0em;
	text-transform: uppercase;
}

#logo h1 a {
	text-decoration: none;
	font-size: 1.2em;
	color: #FFF;
}

#logo span {
	color: #BC1414;
}

#logo p {
	margin: 0;
	padding: 0;
	letter-spacing: 0.10em;
	font-size: 1.0em;
}

#logo p a {
	text-decoration: none;
}

/*********************************************************************************/
/* Column                                                                        */
/*********************************************************************************/
#column {
	background: #1B1B1B url(images/bg01.png) repeat;
	float: left;
}

#column a {
	margin: 15px;
	display: block;
	padding: 1em 1em;
	line-height: 30px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	color: #838383;
	border-bottom: 4px solid #BC1414;
}

#column .current_page_item a {
	background: #BC1414;
	color: #FFF;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
#menu {
	background: #1B1B1B url(images/bg01.png) repeat;
	border-bottom: 4px solid #BC1414;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
	color: #838383;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0em 2em;
	line-height: 50px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	color: #838383;
}

#menu .current_page_item a {
	background: #BC1414;
	color: #FFF;
}

body#Accounts a#Accounts,body#ViewTransactions a#ViewTransactions,body#Transfer a#Transfer,body#Login a#Login,body#CreditDebit a#CreditDebit,body#RequestPII a#RequestPII,body#Home a#Home,body#AddEmployee a#AddEmployee,body#DeleteEmployee a#DeleteEmployee,body#ViewAccInfo a#ViewAccInfo,body#TransferEmployee a#TransferEmployee,body#DeptManagerPage a
	#,DeptManagerPage
body#Register a#Register {
	background: #F5F5F5;
	color: #FFF;
}

#menu a:hover {
	text-decoration: none;
	color: #FFF;
}

/*********************************************************************************/
/* Deptmenu                                                                     */
/*********************************************************************************/
#deptmenu {
	background: #1B1B1B url(images/bg01.png) repeat;
	border-bottom: 4px solid #BC1414;
}

#deptmenu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
	color: #838383;
}

#deptmenu li {
	display: inline-block;
}

#deptmenu a {
	display: block;
	padding: 0em 2em;
	line-height: 50px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	color: #838383;
}

#deptmenu .current_page_item a {
	background: #BC1414;
	color: #FFF;
}

#deptmenu li a {
	background: #1B1B1B;
	display: block;
	padding: 0em 2em;
	line-height: 50px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	color: #838383;
}

#deptmenu ul a {
	background: #1B1B1B;
	display: block;
	padding: 0em 2em;
	line-height: 50px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	color: #838383;
}

#deptmenu>ul>li>a {
	background: #1B1B1B url(images/bg01.png) repeat;
	letter-spacing: 1px;
	color: #838383;
	letter-spacing: 1px;
	line-height: 50px;
}

#deptmenu ul ul a {
	background: #1B1B1B url(images/bg01.png) repeat;
	color: #838383;
}

#deptmenu li ul {
	background: #1B1B1B url(images/bg01.png) repeat;
	color: #838383;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 225px;
	z-index: 200;
	line-height: 30px;
}

#deptmenu li>a:hover,#deptmenu ul li:hover>a {
	background: #BC1414;
	color: #FFFFFF;
	text-decoration: none;
}

#deptmenu li:hover ul {
	display: block;
}

#deptmenu li:hover li a {
	background: none;
}

#deptmenu li ul a:hover,#deptmenu li ul li:hover>a {
	background: #BC1414;
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
#banner {
	margin: 2em auto;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/
#page {
	overflow: hidden;
	padding: 3em 0em;
	border-bottom: 1px solid #363636;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
#content {
	width: 800px;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/
#sidebar {
	float: right;
	width: 300px;
}

#sidebar .title {
	letter-spacing: 0.10em;
	text-transform: uppercase;
	color: #FFF;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer {
	overflow: hidden;
	padding: 6em 0em 4em 0em;
	border-bottom: 1px solid #363636;
}

#footer .title {
	letter-spacing: 0.10em;
	text-transform: uppercase;
	color: #FFF;
}

#footer #fbox1 {
	float: left;
	width: 400px;
	margin-right: 50px;
}

#footer #fbox2 {
	float: left;
	width: 400px;
}

#footer #fbox3 {
	float: right;
	width: 300px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright {
	padding: 6em 0em;
	font-size: 0.75em;
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	color: #6A6A6A;
}

#copyright a {
	color: #747474;
}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/
#three-column {
	overflow: hidden;
	margin-bottom: 2em;
	background: #FFF;
	border-bottom: 4px solid #BC1414;
	color: #525252;
}

#three-column h2 {
	margin: 1em 0em;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 700;
	color: #454445;
}

#three-column #tbox1,#three-column #tbox2,#three-column #tbox3 {
	float: left;
	width: 300px;
	padding: 50px 50px 80px 50px;
}
/* adding search form in the header*/

/* ----------------------------------------------Search Form-------------------------------------*/
#search {
	display: block;
	width: 285px;
	position: absolute;
	top: 10px;
	right: 0;
}

#search input {
	font-family: 'Source Sans Pro', sans-serif;
	background: #282828 url(images/bg01.png) repeat;
	display: block;
	width: 229px;
	margin: 0;
	padding: 5px;
	color: #919191;
	border: 1px solid #363636;;
	font-size: 15px;
}

#search input#go {
	font-family: 'Source Sans Pro', sans-serif;
	display: block;
	float: right;
	width: auto;
	height: auto;
	margin: 0;
	padding: 4px;
}

form,fieldset,legend {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
	
	}

.col1{color:#FFFFFF; background-color:#294E79;display: table;}



#gallery, #breadcrumb, #container, #footer{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

/* ----------------------------------------------Head-------------------------------------*/

#head{
	
	margin:0 auto 0;
	z-index:1000;
	width:100%;
	position: relative;
	height:110px;

	
	}

#head h1, #head p, #head ul, #head a{
	margin:0;
	padding:0;
	top:0px;
	list-style:none;
	line-height:normal;
	}
#head span {
	top:0px;
    vertical-align:middle;
    display: table-cell;
}
	/*----position: absolute; bottom: 0; left: 0; vertical-align:middle*/
#header img {  vertical-align: middle;
    display: table-cell;
    margin-right: 1em;
    }
#head h1 a{
	position:absolute;
	top:0px;
	left:auto;
	font-size:75px;
	font-weight:normal;
	color:#FFFFFF;
	background-color:#294E79;
	font-family:Georgia, "Times New Roman", Times, serif;
	
	}

#head p{
	display:block;
	position:absolute;
	top:65px;
	left:0;
	color:#F5F5F5;
	background-color:#294E79;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}


#topnav{
	display:block;
	position:absolute;
	top:80px;
	right:0;
	height:45px;
	color:#FFFFFF;
	background-color:#294E79;
	font-weight:bold;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}

#topnav ul{
	list-style:none;
	margin:0;
	padding:0;
	}

#topnav li{
	float:left;
	}

#topnav li a:link, #topnav li a:visited{
	display:block;
	margin:0 15px 0 0;
	padding:14px 15px;
	color:#FFFFFF;
	background-color:#3D73B1;
	}

#topnav li a:hover, #topnav li a.active{
	color:#666666;
	background-color:#F5F5F5;
	}
	
#topnav li li a:link, #topnav li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#FFFFFF;
	background-color:#3D73B1;
	}
	
#topnav li li a:hover{
	color:#666666;
	background-color:#F5F5F5;
	}

#topnav li ul{
	background: #FFFFFF;
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:170px;
	border:1px solid #E6E6E6;
	border-top:none;
	border-right:none;
	}

#topnav li ul a{width:140px;}

#topnav li ul ul{margin:-32px 0 0 0;}

#topnav li:hover ul ul{left:-999em;}

#topnav li:hover ul, #topnav li li:hover ul{left:auto;}

#topnav li:hover{position:static;}

#topnav li.last a{margin-right:0;}


.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background-color:#294E79;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12pt;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}.button:hover {
	background-color:#378de5;
}.button:active {
	position:relative;
	top:1px;
}</style>